@import '../common/variables';

.tableWrap {
    border: 1px solid $primary;
    position: relative;
    min-height: 100px;
    margin: auto auto 50px;
    max-width: 90%;
}

.head {
    background-color: $primary;
    color: #fff;
    padding: 10px 15px;
}

.title {
    font-size: 18px
}

.btnWrap {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 10;
}

.content {
    padding: 15px;
}