// $primary:#606060;
// $secondary:#468746;

// $text_primary: #2d2828;
// $text_secondary: #565656;
// $text_hint: #000;

// $background_default: #e6e6e6;

// $disabled: #c7c7c7;
// $warning: #f39927;
// $success: #95dc96;


// $primary:#364968;
// $secondary:#a5becc;

// $text_primary: #364968;
// $text_secondary: #a5becc;
// $text_hint: #000;

// $background_default: #F9F9F9;

// $disabled: #c7c7c7;
// $warning: #fddf97;
// $success: #84acb6;

$primary:#226b80;
$secondary:#40a798;

$text_primary: #000;
$text_secondary: #373545;
$text_hint: #000;

$background_default: #fff;

$disabled:#dcd8dc;
$warning: #FFC93C;
$success: #FDDF97;